.pager {
  display: block;
  list-style:none;
  min-height: 50px;

  li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;

    a {
      color: #444!important;
      display: inline-block;
      font-size: 1.2rem;
      padding: 0 10px;
      line-height: 30px;

      &.active {
        background-color: #ee6e73;
        color:#FFF!important;
      }
    }
  }
}